<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Accident Alert System </h3>
    <ul>
      <li> Python, Raspberry Pi</li>
    </ul>
    <p>This system act as the accident detection and alert system which will alert the 
      nearby hospital and police station whenever accident occurs. Thus the rescue operation can be done at a faster rate.</p>
    <a class="project-link" target="_blank" href="https://github.com/alexsaji111/accident-alert-system">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Pulse Rate Counter </h3>
    <ul>
      <li> PIC Microcontroller</li>
    </ul>
    <p>This system describes a technique of measuring the heart rate through fingertip using a microcontroller. 
      The system is making use of a low cost microcontroller which makes the programming easy and cuts down the cost per device.</p>
    <a class="project-link" target="_blank" href="https://github.com/alexsaji111/pulse-rate-counter">Check it out</a>
  </div>

  
  <div class="user-projects">
    <div class="images-left">
      <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="contents-right">
      <h3> Pulse Rate Counter </h3>
      <ul>
        <li> PIC Microcontroller</li>
      </ul>
      <p>This system describes a technique of measuring the heart rate through fingertip using a microcontroller. 
        The system is making use of a low cost microcontroller which makes the programming easy and cuts down the cost per device.</p>
      <a class="project-link" target="_blank" href="https://github.com/alexsaji111/pulse-rate-counter">Check it out</a>
    </div>
</div>
